* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #E5E5E5;
}
@import 'base/variables';
@import 'base/mixin';
@import 'blocks/menu';
@import 'blocks/box-params';

.grid-container {
    width: 1140px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: min-content;
    grid-gap: 32px;
}