.params {
    &__title__settings {
        @include title-main;
        margin: 0 0 20px 0 ;
        width: 80%;
        }
    
    &__result {
        width: 244px;
        max-height: 181px;
        background-color: #FAFAFA;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 9px;

        &__wrapper {
            margin-top: 16px;
            width: 80%;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }

        &__title {
            @include subtitle-bold;
            margin-bottom: 14px;
        }
        
        &__parametrs {
            width: 80%;
            height: 116px;
            display: flex;
            flex-direction: column;
        }

        &__parametr {
            font-weight: 300;
            font-size: 12px;
            color: #000000;
            margin-top: 2px;

            span {
                font-weight: 600;
                font-size: 12px;
                color: #000000;
            }
        }
        &__btn {
            margin-top: 38px;
        }
    }
}