.params {
    width: 260px;
    max-height: 616px;
    background: #FFFFFF;
    box-shadow: 0px 20px 40px -10px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding-top: 30px;

    &__title {
        @include title-main;
        color: #000000;
        margin: 0;
        width: 80%;
    }

    &__container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    &__lwh-container {
        margin-top: 16px;
        width: 80%;
        height: 63px;
        display: flex;
        justify-content: space-between;
    }

    &__parametr {
        @include subtitle;
    }

    &__input {
        width: 67px;
        height: 30px;
        background: #FAFAFA;
        border: 1px solid #D8D8D8;
        box-sizing: border-box;
        border-radius: 3px;
        padding: 0 12px 0 12px;
        margin: 0;

        &:focus,
        :active {
            // какие задать стили?
            outline: 0;
            border: none
        }
    }

    &__cardboard {
        width: 80%;
        display: flex;
        justify-content: space-between;
        margin-top: 12px;

        &-type,
        &-color {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 66px;
        }

        &__wrapper {
            display: flex;
            justify-content: flex-start;
            width: 95px;
            align-items: center;
        }

        &__parametr {
            &__type {
                margin-left: 9px;
            }

            &__color {
                margin-left: 24px;
            }
        }

        &__input {
            margin: 0;
            display: none;

            &_round {
                width: 17px;
                height: 17px;
                border: 1px solid #E3E3E3;
                position: relative;
                border-radius: 50%;

                &::before {
                    content: "";
                    position: absolute;
                    width: 11px;
                    height: 11px;
                    border-radius: 50%;
                    background-color: $main-color;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    opacity: 0;
                    transition: .3s;
                }
            }

            &_sqr {
                width: 17px;
                height: 17px;
                border: 1px solid #E3E3E3;
                position: relative;
                border-radius: 20%;

                &::before {
                    content: "";
                    position: absolute;
                    width: 16px;
                    height: 16px;
                    border-radius: 20%;
                    background-color: #D9A262;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    opacity: 0;
                    transition: .3s;
                    z-index: 1;
                }

                // &::after{ // нужна svg круга с галкой
                //     content: url("../icons/chekmark.svg");
                //     position: absolute;
                //     width: 13px;
                //     height: 13px;
                //     border-radius: 50%;
                //     background-color: $main-color;
                //     top: 5%;
                //     left: 100%;
                //     transform: translate(-50%, -50%);
                //     opacity: 1;
                //     transition: .3s;
                //     z-index: 1;
                // }
            }
        }

    }

    &__counter {
        width: 80%;
        height: 63px;
        margin-top: 20px;

        &__wrapper {
            margin-top: 10px;
            display: flex;
            width: 142px;
            justify-content: space-between;
        }

        &__input {
            width: 70px;
            height: 30px;
            background: #FAFAFA;
            border: 1px solid #D8D8D8;
            box-sizing: border-box;
            border-radius: 3px;
            padding: 20%;
            @include subtitle;

            &:focus,
            :active {
                // какие задать стили?
                outline: 0;
                border: none
            }
        }

        // &__minus {
        // //    плюс и минус в css
        // }
    }

    &__divider {
        @include divider (20px 0 18px 0);
    }
}

.params__cardboard__input:checked+.params__cardboard__input_round::before {
    opacity: 1;
}

.params__cardboard__input:checked+.params__cardboard__input_sqr::before {
    opacity: 1;
}