.button {
    width: 204px;
    height: 35px;
    box-shadow:(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: $main-color;
    border-radius: 3px;
    margin-bottom: 27px;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    &:focus,:active {    // какие задать стили?
        outline: 0;
        border: none
    }

}

.counter__btn {
    width: 30px;
        height: 30px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-style: none;
        border-radius: 3px;
        border: none;
        cursor: pointer;
        position: relative;
        &:focus,:active {    // какие задать стили?
            outline: 0;
            border: none
        }
        &-plus {
            &::before {
                content: "";
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                background-color:#C2C2C2;
                width: 14px;
                height: 2px;
            }
            &::after {
                content: "";
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                background-color:#C2C2C2;
                width: 2px;
                height: 14px;
            }
        }
        &-minus {
            &::before {
                content: "";
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                background-color:#C2C2C2;
                width: 14px;
                height: 2px;
            }
        }
}

.button__i { // сделать кнопку
    width: 22px;
    height: 22px;
    background: #D8D8D8;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    position: relative;
    
    &::before {
        content: " ";
        position: absolute;
        left: 50%;
        top: 25%;
        width: 2px;
        height: 2px;
        background-color:#FFFFFF;
        transform: translate(-50%, -50%);
    }
    &::after {
        content: " ";
        position: absolute;
        left: 50%;
        top: 60%;
        width: 2px;
        height: 9px;
        background-color:#fff;
        transform: translate(-50%, -50%);
    }
    &:focus:active {    // какие задать стили?
        outline: 0;
        border: none;
        
    }
    &:hover {
        background: $main-color;
        transition: 2s;
    }
}
