.grid-container {
    width: 1140px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 851px 260px;
    grid-template-rows: 92px auto 46px;
    grid-gap: 0px 32px;
    grid-template-areas: 
        "menu aside"
        "showcase aside"
        "basement aside";
}
.menu {
    grid-area: menu;
}
.params {
    grid-area: params;
}
.cart {
    grid-area: cart;
}
.showcase {
    grid-area: showcase;
}
.basement {
    grid-area: basement;
}
.aside {
    grid-area: aside;
}

