.menu {
    max-width: 851px;
    background-color: #F4F4F4;
    border-radius: 5px 3px 0px 0px;
    height: 92px;

    &__wrapper {
        display: flex;
        width: max-content;
        align-items: center;
        padding-left: 43px;
        height: 46px;
    }

    &__item {
        @include title-main;
        color: #7D7D7D;
        width: 166px;
        height: 27px;
        margin-right: 12px;
        position: relative;

        &_active {
            color: #000000;
        }
        &:after {    
            bottom: 0;
            content: "";
            display: block;
            height: 2px;
            top: 125%;
            left: 50%;
            position: absolute;
            background: $main-color;
            transition: .2s;
            width: 0;
          }
          &:hover:after { 
            width: 72%; 
            left: 0; 
          }
          &:nth-child(3) {
            &:hover:after { 
                width: 58%; 
                left: 0; 
              }
        }
    }

    &__box-type {
        background-color: #FFFFFF;
        box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.15);
        border-radius: 0px 0px 5px 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 43px;
        height: 46px;
        
        &__item {
            width: 117px;
            height: 30px;
            @include subtitle;
            line-height: 18px; // вертикальное выравнивание 
            color: #787878;
            align-self: center;
            display: inline-flex;
            justify-content: space-between;
            position: relative;
            &_active {
                color: #000000;
            }
            &:after {    
                bottom: 0;
                content: "";
                display: block;
                height: 2px;
                top: 115%;
                left: 50%;
                position: absolute;
                background: $main-color;
                transition: .2s;
                width: 0;
              }
              &:hover:after { 
                width: 70%; 
                left: 0; 
              }
        }
    }

    &__counter {
        display: flex;
        width: 104px;
        justify-content: space-between;
        padding-right: 11px;
    }
}