.showcase {
    padding-top: 30px;
    display: grid;
    height: min-content;
    width: 851px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content;
    gap: 34px 32px;
    &__item {
        width: 262px;
        height: 342px;
        background: #FFFFFF;
        border: 1px solid #DADADA;
        box-sizing: border-box;
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        
        // &_active {
        //     &::after {
        //         content: "";
        //         width: 100%;
        //         height: 40%;
        //         background-color: $main-color;
        //     }
            
            
        // }

    }
    &__button {
        align-self: flex-end;
        margin: 15px 16px 0 0;
    }
    &__img {
        width: 220px;
        height: 170px;
        overflow: hidden;
        position: relative;
        img {
            object-fit: cover;
            position: absolute;
            top:50%;
            left:50%;
            transform:translate(-50%,-50%);
            max-width: 220px;
            max-height: 220px;
            object-fit:cover;
        }
    }
    &__divider {
        @include divider (20px 0 0 0);
    }
    &__wrapper {
        margin-top: 16px;
        width: 80%;
        &_active { // в js?
            margin: 0;
            width: 100%;
            height: 112px;
            background-color: $main-color;
            color:#FFFFFF;
            padding-left: 56px;
            transition: 2s;
        }
    }
    &__title {
        @include title-main;
    }
    &__article {
        margin-top: 4px;
        font-weight: 300;
        font-size: 10px;
    }
    &__price {
        margin-top: 15px;
        font-weight: 600;
        font-size: 16px;
    }
    
}